.searchSection {
  position: sticky;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.searchBar {
  background-color: #efefef;
  border-radius: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.searchBar textarea {
  width: 100%;
  outline: none;
  border: none;
  caret-color: var(--color-primary);
}

.searchBar button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  bottom: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
}

.searchBar button:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.chat-input {
  width: 100%;
  resize: none;
  overflow-y: hidden;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  caret-color: var(--color-primary);
  max-height: 100px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Hide scrollbar for Chrome, Safari */
.chat-input::-webkit-scrollbar {
  display: none;
}

.newChatBtn {
  background-color: #efefef;
  transition: all 0.25s ease-in-out;
  border-radius: 10px;
}

.newChatBtn:hover {
  background-color: #d7d7d7;
}

.expBtn {
  background-color: var(--color-primary);
  border-radius: 10px;
  color: var(--color-background);
}

button {
  cursor: pointer;
}

.chatTitle {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.quickBtn {
  width: 50%;
  flex-wrap: wrap;
}

.quickBtn button {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  padding: 10px 15px;
}

.quickBtn button:hover {
  background-color: #efefef;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.activeQuickBtn {
  background-color: #efefef;
  box-shadow: none!important;
}

