.dashTiles .container {
  height: 100%;
  width: 100%;
  min-height: 210px;
  max-height: 250px;
  margin: 15px 25px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.dashTiles .toolTile{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.dashTiles .toolTile .icon{
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  width: 40px; height: 40px;
  margin-right: 20px;
  background-color: #efefef;
}


.dashTiles .container .desc {
  width: 95%;
  padding-top: 20px;
  overflow: hidden;

  /* Multi-line ellipsis setup */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;   /* Number of lines to show */
}



.dashTiles .button {
  width: 100%;
}

.dashTiles .button button {
  width: 95%;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.dashTiles .button button:hover {
  scale: 1.025;
}

@media screen and (max-width: 768px) {
  .dashTiles .container{
    margin: 0 15px;
  }
  .dashTiles .toolTile .icon{
    margin-right: 15px;
  }
}

.footBody div{
  transition: all 0.25s ease-in-out;
  border-radius: 14px;
}

.footBody div:hover{
  background-color: #e5e6e7;
}